@import "vars.less";
@import "less-mixins.less";

.pa_item{
    padding:8px;
    border:1px solid tint(@pri_color_2,80%);    
    .gradient(tint(@pri_color_2,95%),tint(@pri_color_2,95%),@sec_color_9);
    .border-radius(5px,5px,5px,5px);
    margin-bottom:10px;
    
    .name{
        font-size:@text_l;
        text-decoration:none;
    }
    
    .pa_item_details{
        padding:8px 0px;
        line-height:16px;
        .clearfix;
        
        .created_info{
            float:left;
            width:80%;
            .key{
                display:inline-block;
                width:25%;
            }
            .value{
               color:@sec_color_6;
            }
        }
        
        .stats{
            float:right;
            padding-top:8px;
            
            span{                
                border-radius: 5px;
                color: #434040;
                display: inline-block;
                font-size: 0.9em;
                margin: 0 2px;
                padding: 1px 0;
                text-align: center;
                width: 30px;
                
                &.easy{
                    background: -moz-linear-gradient(center bottom , #BAE59B 0%, #B2DC94 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
                    border: 1px solid #579100;
                }
                
                &.difficult{
                    background: -moz-linear-gradient(center bottom , #F5A965 0%, #F88B2A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
                    border: 1px solid #D27827;
                }
            }
        }
        
        
    }
    .btn_panel{
            a{
                margin-right:5px;
            }
            .completed_on{
                float:right;
                font-size:@text_s;
                color:@sec_color_6;
                font-style:italic;
                padding-top:6px;
            }
        }
    
    &:last-child{
        margin-bottom:0px;
    }
}
