/* ---------------------------- colors ---------------------------- */
@pri_color_1: #024b89;
@pri_color_2: #0097d1;
@pri_color_3: #ffd727;

@sec_color_1: #000;
@sec_color_2: tint(@sec_color_1,10%);
@sec_color_3: tint(@sec_color_1,20%);
@sec_color_4: tint(@sec_color_1,40%);
@sec_color_5: tint(@sec_color_1,60%);
@sec_color_6: tint(@sec_color_1,70%);
@sec_color_7: tint(@sec_color_1,80%);
@sec_color_8: tint(@sec_color_1,90%);
@sec_color_9: tint(@sec_color_1,100%);


/* ---------------------------- vars ---------------------------- */
@page_bg_color                          : @sec_color_8;
@page_content_color_right               : @sec_color_9;

@page_header_bg                         : @pri_color_1;
@page_header_border                     : @pri_color_3;
@page_header_color                      : @sec_color_9;
@page_content_top_border                : @sec_color_7;

@text_color                             : @sec_color_3;
@form_element_icon_color                : @sec_color_5;

@box_bg_color                           : @sec_color_9;
@box_border_color                       : @sec_color_7;
@box_header_bg_color                    : @pri_color_2;
@box_header_color                       : @sec_color_9;
@box_header_anchor_bg                   : @sec_color_8;
@box_header_anchor_hover_bg             : @sec_color_9;
@box_header_anchor_border               : @sec_color_4;
@box_header_anchor_color                : @sec_color_3;
@box_header_anchor_hover_color          : @sec_color_1;
@box_sub_header_color                   : @sec_color_1;

@anchor_color                           : @pri_color_2;

@table_bg                               : @sec_color_7;
@table_header_bg                        : @sec_color_5;
@table_header_color                     : @sec_color_9;
@table_header_border_color              : @sec_color_4;
@table_cells_bg                         : @sec_color_9;
@table_even_cells_bg                    : @sec_color_9;
@table_odd_cells_bg                     : @sec_color_8;

@selected_item_panel_bg                 : tint(@pri_color_3,90%);
@selected_item_arrow_panel_bg           : @pri_color_3;
@selected_item_panal_border             : @pri_color_3;

/* font */
@pri_font_1: Arial,Helvetica,sans-serif;

/* text sizes */
@text_default: 12px;
@text_l: 14px;
@text_xl: 16px;
@text_xxl: 18px;
@text_xxxl: 24px;
@text_s: 11px;
@text_xs: 10px;





